<div class = "jumbotron">
  <h1 id="jumbotitle"><a href="/">Wildlife Tracker</a></h1>
</div>

<h3>The sighting has been deleted.</h3>

<a href="/endangered-animal/$animal.getId()">Back to Animal Page</a>

<button type="button" name="button"><a href="/">Home</a></button>
